body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    color: black;
    font-family: -apple-system,system-ui;
}

svg {
    display: block;
    position: absolute;
    z-index: -1;
}

img {
    display: block;
    position: relative;
    width: 68px;
    height: 68px;
    top: 90px;
    left: 42px;
    z-index: 1;
}

p {
    display: block;
    position: relative;
    font-size: 72px;
    top: -108px;
    left: -30px;
    text-align: right;
    font-weight: 600;
    z-index: 0;
}